@font-face{
    font-family: 'AmericanCaptain';
    src: url('#{resource["fonts/AmericanCaptain.otf"]}');
    src: url('#{resource["fonts/AmericanCaptain.ttf"]}') format('truetype');
    font-weight: normal;
    font-style: normal;
}


#logo {
    font-family: 'AmericanCaptain';
    font-weight: bold;
}

.logo {
    font-family: 'AmericanCaptain';
    font-weight: bold;
}

.logo-navbar {
    font-family: 'AmericanCaptain';
    font-weight: 500;
}